@charset "utf-8";
@import '../content';
@import '../build';
@import '../search';
@import '../tooltip';

#main-content {
    flex: 1 0 auto;
}

.expandable {
    @include transition(all .5s ease);
    opacity: 0;
    overflow: hidden;
}

.common-build .build, .common-build .runes-masteries {
    @include box-shadow-none();
}

div#mcTooltip {
    h1 {
        margin: 0;
        font-size: large;
        display: inline-block;
        font-weight: 100;
    }
}

.drop-down {
    background-color: $theme-primary-color-light;

    .build {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .runes-masteries {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .expand-collapse {
        margin-left: auto; 
        margin-right: 0;
        height: 46px;
        width: 60px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

        @include transition(all .3s ease);
    }

    .expand-collapse:hover {
        background-color: $theme-primary-color-lighter;
    }

    .content {
        h5 {
            margin: 16px 0 0 32px;
            font-size: xx-large;
            display: inline-block;
            font-weight: 100;
        }
    }

    .content:hover {
        max-height: 200px;
    }

    .test {
        height: 200px;
    }
}

.outer-div {
    position: relative;
    min-height: 188px; // 128 + 30 + 30
    
    .champion-splash {
        position: relative;
        width: 100%;
        z-index: 1;
        display: block;
    }

    .champion-div {
        top: 0px;
        width: 100%;
        padding: 30px;
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 2;

        background: -moz-linear-gradient(top,  rgba(24,26,27,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(24,26,27,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(24,26,27,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(24,26,27,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(24,26,27,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(24,26,27,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181a1b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

        .champion-thumb {
            width: 120px;
            height: 120px;
            margin: 5px;
            background-position: center center;
            background-size: 140px 140px;
            @include radius(50%);
            border: 0;

            @include box-shadow(4px, 4px, 10px, rgba(0,0,0,0.6));
        }

        h1 {
            margin: 0 0 0 16px;
            font-size: xx-large;
            display: inline-block;
            font-weight: 100;
        }

        h2 {
            margin: -8px 0 0 16px;
            font-size: medium;
            font-weight: 400;
            font-family: $theme-condensed-style;
        }
    }
}