@charset "utf-8";
@import '../content';
@import '../search';

#main-content {
    flex: 1 0 auto;
}

.champions-view {
    @extend .card;
    
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;
    background-color: $theme-primary-color-light;

    h1 {
        margin-left: 16px;
        font-size: xx-large;
        display: inline-block;
        font-weight: 100;
    }

    .champion-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .champion {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0 auto;
        padding: 16px;
        @include transition(background-color 0.3s ease-in-out, color 0.3s ease-in-out);

        .thumb {
            width: 100px;
            height: 100px;
            margin: 5px;
            background-position: center center;
            background-size: auto;
            @include radius(50%);
        }

        h2 {
            text-align: center; 
            font-size: large;
            display: inline-block;
            font-weight: 100;
            width: 100%;
            margin: 8px 0px 24px 0px;
            cursor: default;
        }
    }

    .champion:hover {
        background-color: $theme-primary-color-lighter;
        cursor: pointer;
    }
}


// special mobile support
@media screen and (max-width: 611px) {
    .champions-view .champion .thumb {
        width: 70px;
        height: 70px;
        background-size: 80px 80px;
    }
    .champions-view .champion {
        padding: 8px;
    }

    .champions-view .champion h2 {
        font-size: medium;
    }
}
// special mobile support