@charset "utf-8";
@import '../theme';
@import '../content';
@import '../mixin';
@import '../build';

#topbar form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#topbar input {
    border-style: none;
    background-color: $search-bar-color;
    color: $theme-text-color;
    font-family: $theme-body-style;
    font-weight: 300;
    font-size: small;

    @include transition(all 0.3s ease-in-out);
    outline: none;
    padding: 5px 5px 5px 5px;
    border: none;
    width: 230px;
}

#topbar input:focus, textarea:focus {
    box-shadow: 0 0 3px $theme-primary-color-highlight;
}

#search-bar {
    position: relative;
}

#search-bar-items {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar-items .item {
    padding: 10px;
}

#main-content {
    flex: 1 0 auto;
}

.profile-div {
    padding: 30px;
    display: flex;
    align-items: center;

    .summoner-profile-img {
        width: 128px;
        height: 128px;
        @include radius(50%);
        border: 0;
    }

    h1 {
        margin: 0 0 0 16px;
        font-size: xx-large;
        display: inline-block;
        font-weight: 100;
    }

    h3 {
        margin: -8px 0 0 16px;
        font-size: medium;
        font-family: $theme-condensed-style;
    }
}