@charset "utf-8";
@import 'normalize';
@import 'theme';

html {
    -webkit-text-size-adjust: auto; /* Automatically adjusted for Safari on iPhone. */
    -ms-text-size-adjust: auto;
    overflow-y: scroll;
}

body, html { /* set size of body to full page and remove margins */
    background-color: $theme-primary-color;
    width: 100%;
    height: 100%;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.flex-align-top {
    align-self: flex-start;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 960px;
}

.content-no-padding {
    @extend .content;
    max-width: 960px;
    padding-left: 0px;
    padding-right: 0px;
}

.center {
    margin: auto;
}

.themed {
    background-color: $theme-primary-color;
    color: $theme-text-color;
}

.themed p {
    color: $theme-text-color;
}

.themed h1 {
    color: $theme-text-color;
}

.themed-light {
    background-color: $theme-primary-color-light;
    color: $theme-text-color;
}

div.align-bottom {
    position:absolute;
    bottom: 0px;
}

.tint {
    background-color: $theme-primary-color-highlight;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.match-parent-height {
    height: 100%;
}

.match-parent-width {
    width: 100%;
}

div.inline-block {
    display: inline-block;
}

p.center-horizontal {
    text-align: center;
}

article, aside, figure, footer, header, hgroup,
menu, nav, section { 
    display: block; 
}

.content p, .content ul li {
    color: $theme-text-color;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6, {
    font-family: $theme-header-style;
    color: $theme-text-color;
}

p.center {
    text-align: center;
}

div.no-padding {
    padding: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.block {
    display: block;
}

#topbar {
    @extend .card;

    padding-right: 10px;
    padding-left: 10px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-items {
    display: flex;
    align-items: center;
    justify-content: center ;
    height: 48px;
}

.header-button,
.header-button:hover,
.header-button:focus {
    text-decoration: none;
}

.header-button {
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: small;
    color: $theme-primary-color-highlight;
    @include transition(background-color 0.3s ease-in-out, color 0.3s ease-in-out);
    cursor: pointer;
}

.header-button:hover {
    background-color: $theme-primary-color-highlight;
    color: $theme-text-color;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;

    min-height: 460px;
}

.flex-spacer {
    flex: 1;
}

#topbar-logo {
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    display: flex;
    align-items: center;
}

.clickable {
  cursor: pointer;
}

.footer {
    background-color:$theme-primary-color-lighter;
    font-family: $theme-body-style;
    font-weight: 300;

    p {
        color: $theme-hint-text-color;
        font-size: x-small;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 0;
        text-align: center;
    }
}

.suggestion-circle-mask {
    @include radius(50%);
    height: 30px;
    width: 30px;
}

// AutoSuggest
.react-autosuggest__suggestions {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid $theme-primary-color;
    background-color: $theme-primary-color-lighter;
    font-size: 18px;
    font-weight: 300;
    font-family: $theme-body-style;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 100;

    @extend .card;
}
.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 5px 20px;
    z-index: 100;
}

.suggestion-item {
    display: flex;
    align-items: center;
}

.suggestion-text {
    padding-left: 14px;
    padding-right: 14px;
}

.react-autosuggest__suggestion--focused {
  background-color: $theme-primary-color;
}
// react-autosuggest__suggestions
// react-autosuggest__suggestion
// react-autosuggest__suggestion--focused
// react-autosuggest__suggestions-section
// react-autosuggest__suggestions-section-name
// react-autosuggest__suggestions-section-suggestions

@media only screen and (max-device-width: 480px) {
    .react-autosuggest__suggestions {
        max-height: 180px;
        overflow: auto;
    }
    
    .content {
        width: 100%;
    }
}