::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #5d6b64; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #5d6b64;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #5d6b64;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5d6b64; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #5d6b64; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #5d6b64;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #5d6b64;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5d6b64; }

html {
  -webkit-text-size-adjust: auto;
  /* Automatically adjusted for Safari on iPhone. */
  -ms-text-size-adjust: auto; }

body, html {
  /* set size of body to full page and remove margins */
  background-color: #151516;
  width: 100%;
  height: 100%; }

.flex-align-top {
  align-self: flex-start; }

.content, .content-no-padding {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 960px; }

.content-no-padding {
  max-width: 960px;
  padding-left: 0px;
  padding-right: 0px; }

.center {
  margin: auto; }

.themed {
  background-color: #151516;
  color: #fff; }

.themed p {
  color: #fff; }

.themed h1 {
  color: #fff; }

.themed-light {
  background-color: #181a1b;
  color: #fff; }

div.align-bottom {
  position: absolute;
  bottom: 0px; }

.tint {
  background-color: #e01212; }

.align-left {
  float: left; }

.align-right {
  float: right; }

.match-parent-height {
  height: 100%; }

.match-parent-width {
  width: 100%; }

div.inline-block {
  display: inline-block; }

p.center-horizontal {
  text-align: center; }

article, aside, figure, footer, header, hgroup,
menu, nav, section {
  display: block; }

.content p, .content-no-padding p, .content ul li, .content-no-padding ul li {
  color: #fff; }

.content h1, .content-no-padding h1,
.content h2,
.content-no-padding h2,
.content h3,
.content-no-padding h3,
.content h4,
.content-no-padding h4,
.content h5,
.content-no-padding h5,
.content h6,
.content-no-padding h6 {
  font-family: "Roboto", sans-serif;
  color: #fff; }

.center p {
  text-align: center; }

div.no-padding {
  padding: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

.block {
  display: block; }

#topbar {
  height: 48px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.header-button,
.header-button:hover,
.header-button:focus {
  text-decoration: none; }

.header-button {
  height: 100%;
  align-items: center;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: small;
  color: #e01212;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer; }

.header-button:hover {
  background-color: #e01212;
  color: #fff; }

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 460px; }

.flex-spacer {
  flex: 1; }

#topbar-logo {
  padding-left: 20px;
  padding-right: 20px; }

.clickable {
  cursor: pointer; }

.footer {
  background-color: #272b2a;
  font-family: "Roboto", sans-serif;
  padding: 10px 10px 10px 10px;
  font-weight: 300; }

#footer-text {
  color: #5d6b64;
  font-size: x-small; }

.suggestion-circle-mask {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  height: 30px;
  width: 30px; }

.react-autosuggest__suggestions {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #151516;
  background-color: #272b2a;
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1; }

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 5px 20px; }

.suggestion-item {
  display: flex;
  align-items: center; }

.suggestion-text {
  padding-left: 14px;
  padding-right: 14px; }

.react-autosuggest__suggestion--focused {
  background-color: #151516; }

@media only screen and (max-device-width: 480px) {
  .react-autosuggest__suggestions {
    max-height: 180px;
    overflow: auto; }

  .content, .content-no-padding {
    width: 100%; } }
#main-logo {
  padding-top: 110px;
  height: 231px; }

#search-content {
  flex: 1;
  margin-top: 80px; }

#search-content form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

#search-content input {
  border-style: none;
  background-color: #2d3331;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
  padding: 10px 10px 10px 10px;
  border: none;
  width: 100%; }

#search-content input:focus, textarea:focus {
  box-shadow: 0 0 5px #e01212; }

#search-bar {
  position: relative;
  width: 60%; }

#search-bar-items {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

#search-bar-items .item {
  padding: 10px; }

@media only screen and (max-device-width: 480px) {
  #main-logo {
    padding: 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center; }

  #logo {
    width: 70%; }

  #search-content {
    display: flex;
    align-items: center;
    margin-bottom: 30vh;
    position: relative;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px; }

  #search-bar {
    position: relative;
    margin-top: 10%;
    width: 100%; }

  #search-content input {
    font-size: medium;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none;
    padding: 10px 10px 10px 10px;
    border: none;
    width: 100%; } }

/*# sourceMappingURL=index.css.map */
